
@model IEnumerable<Curso>

@{
    ViewData["Title"] = "Cursos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Listado de Cursos</h2>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-dark d-flex" asp-action="Crear" asp-controller="Cursos">Crear Curso</a>
        </div>
    </div>
    <div class="row">
        @if (Model.Count() == 0)
        {
            <div>
                <h1 class="text-danger">No hay cursos disponibles</h1>
            </div>
        }
        else
        {             
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(x => x.Id)</th>
                        <th>@Html.DisplayNameFor(x => x.Nombre)</th>
                        <th>@Html.DisplayNameFor(x => x.Descripcion)</th>
                        <th>@Html.DisplayNameFor(x => x.Precio)</th>
                        <th>Editar/Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nombre</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Precio</td>
                        <td>
                            <a class="btn btn-outline-success" asp-action="Editar" asp-controller="Cursos" asp-route-id="@item.Id">Editar</a>
                            <a class="btn btn-outline-danger" asp-action="Borrar" asp-controller="Cursos" asp-route-id="@item.Id">Borrar</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>